*{
    text-decoration: none;
    color: white;
}
@font-face{
    font-family: Batangas;
    src: url(Batangas-Bold.woff);
}
body{
    background-color: black;
}
.header{
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 60px;
        padding: 1rem 12% 1rem;
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(10px);
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
        z-index: 5;
    }
    #content{
        font-size: 1.5rem;
        font-family: sans-serif;
        color: white;
        margin-left: 12%;
        margin-top: 1rem;
        font-weight: 500;
        transition: 0.3s ease;
        border-bottom: 3px solid transparent;
    }
    #content:hover{
        color: #8c52ff;
        border-bottom: 3px solid #8c52ff;
        text-shadow:0px 0px 25px #8c52ff,
                    0px 0px 50px #8c52ff,
                    0px 0px 100px white ;
    }
    #content:active{
        color: #8c52ff;
        border-bottom: 3px solid #8c52ff;
        
    }
    #profile:active{
        border-bottom: none;
        color: #8c52ff;
    }
    #profile:hover{
        color: #8c52ff;
        border-bottom: none;
        text-shadow:0px 0px 25px #8c52ff,
                    0px 0px 50px #8c52ff,
                    0px 0px 100px white ;
    }
    .logo{
        cursor: pointer;
        transition: 0.3s ease;
        margin-left: -16%;
        margin-top: -10px;
        height: 90px;

    }
    .logo:hover{
        transform: scale(1.1);
    }
    .navbar{
        
        display: flex;
        justify-content: space-evenly;
    }
    /* .navbar a{
        color: black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    } */
    .btn1{
        height: 30px;
        width: 100px;
        
        display: inline;
        align-items: center;
        margin-left: 15%;
        margin-top: 10px;
        border-radius: 30px;
        background-color: blueviolet;
        color: black;
        font-size: large;
        transition: 0.3s ease-in-out;
    }
    .dropdown-box {
        display: none; /* hide the dropdown box initially */
        margin-top: 4%;
        position: absolute;
        background-color: black;
        border: 1px solid #ccc;
        
        width: 15%;
        height: auto;
        border-radius: 5%;
        overflow-y: auto;
        box-shadow: 0px 0px 25px #b477fe;
      }
      .dropdown-box1 {
        display: none; /* hide the dropdown box initially */
        margin-top: 4%;
        position: absolute;
        background-color: black;
        border: 1px solid #ccc;
        margin-left: 20%;
        width: 15%;
        height: auto;
        border-radius: 5%;
        overflow-y: auto;
        box-shadow: 0px 0px 25px #b477fe;
      }
      .dropdown-box2 {
        display: none; /* hide the dropdown box initially */
        margin-top: 4%;
        position: absolute;
        background-color: black;
        border: 1px solid #ccc;
        margin-left: 42%;
        width: 15%;
        height: auto;
        border-radius: 5%;
        overflow-y: auto;
        box-shadow: 0px 0px 25px #b477fe;
      }
      .btn3{
        /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(151,41,247,1) 0%, rgba(24,22,39,1) 90% );; */
        height: auto;
        width:100%;
        padding: 5%;
        transition: 0.3s ease;
        background-color: black;
        border: 1px solid black;
      }
      .btn3 a{
        margin-left: -2%;
      }
      .btn3:hover{
        background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(151,41,247,1) 0%, rgba(24,22,39,1) 90% );;
      }
      #db{
        color: white;
        font-size: 1.5rem;
        font-family: sans-serif;
        font-weight: 500;

      }
      #db:hover{
        color: black;
        border-bottom: none;
      }

      .navbar a:hover +.dropdown-box{
        display: block;
        color: black;
      }
      .navbar a:active + .dropdown-box{
        display: block;
      }
      .dropdown-box:hover{
        display: block;
      }
      .navbar a:hover +.dropdown-box1{
        display: block;
        color: black;
      }
      .navbar a:active + .dropdown-box1{
        display: block;
      }
      .dropdown-box1:hover{
        display: block;
      }
      .navbar a:hover +.dropdown-box2{
        display: block;
        color: black;
      }
      .navbar a:active + .dropdown-box2{
        display: block;
      }
      .dropdown-box2:hover{
        display: block;
      }
    .btn1:hover {
        transform: scale(1.1);
        background-color: black;
        color: #5d17eb;
        border: 2px solid #5d17eb;
        box-shadow: 0px 0px 25px #5d17eb,
                    0px 0px 50px #8c52ff,
                    0px 0px 100px #b477fe;

    }
    
    .btn2{
        height: 35px;
        width: 150px;
        font-weight: 500;
        margin-left: 75%;
        margin-top: 5%;
        border-radius: 40% 0% 40% 0%;
        background-color: blueviolet;
        color: black;
        font-size: large;
        transition: 0.3s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .btn2:hover{
        transform: scale(1.1);
        background-color: black;
        border: 2px solid #5d17eb;
        color: #8c52ff;
        box-shadow: 0px 0px 25px #5d17eb,
                    0px 0px 50px #8c52ff,
                    0px 0px 100px #b477fe;
        
    }
    .a.btn2:hover{
        border-bottom: none;
    }
    .btn2 a{
        width: auto;
        /* display: inline-block; */
    }
    .bg1{
        margin-top: 3%;
        height: 700px;
        width: 1000px;
        z-index: 1;
    }
    .bg{
        display: inline-flex;
    }
    .bg2{
        height: 500px;
        width: 500px;
        margin-top: 9.5%;
        transition: 0.5s ease-in-out;
    }
      .bg2:hover {
        transform: scale(1.1) skew(5deg); /* apply scale and skew transformations */
      }